body {
  margin: 0;
  font-family: "Silkscreen", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: darkgrey;
}

code {
  font-family: "Silkscreen", cursive;
}

.link {
  background-color: black;
  border-radius: 12px;
  padding: 20px;
}
.color {
  color: black;
}

.button {
  display: flex;
  align-self: flex-end;
}

.image {
  width: 100%;
  height: auto;
}

.single-car {
  width: 50%;
  height: auto;
  margin: 5px;
}

.card {
  background-color: black;
}

h1 {
  text-align: center;
  font-family: "Silkscreen", cursive;
}

h2 {
  text-align: center;
  font-family: "Silkscreen", cursive;
}
h3 {
  font-family: "Silkscreen", cursive;
}
h4 {
  padding: auto;
  text-align: center;
  font-family: "Silkscreen", cursive;
}

p {
  text-align: center;
  padding: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.price {
  float: left;
  font-size: x-large;
  font-weight: bold;
}
.App {
  text-align: center;
}
